GtkWidget {
	outline-width: 0px;

}

@define-color theme_base_color #333333;
@define-color theme_text_color #eeeeec;

.cover-search {
	background-color: @theme_base_color;
	color: @theme_text_color;
}
