GtkWidget {
	outline-width: 0px;

}

@define-color lollypop_base_color #393F3F;
@define-color lollypop_text_color #eeeeec;

.black {
	background-color: @lollypop_base_color;
	color: @lollypop_text_color;
}
