.menu-button {
    padding: 5px;
}

.trackrow .menu-button {
  	color: inherit;
}

.touch-widget {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.dim-button {
    padding: 5px;
}
