GtkWidget {
	outline-width: 0px;

}

@define-color lollypop_base_color #393F3F;
@define-color lollypop_text_color #eeeeec;

.black {
	background-color: @lollypop_base_color;
	color: @lollypop_text_color;
}

.black GtkScrollbar.trough {
	background-color: @lollypop_base_color;
	color: @lollypop_text_color;
}

.trackswidget {
	background-color: transparent;
}

.trackrow {
	background-color: transparent;
  	color: inherit;
}

.trackrow:hover {
	background-color: alpha(#000000, 0.03);
  	color: inherit;
}

.trackrow:selected {
	background-color: transparent;
  	color: inherit;
}

.trackrowplaying {
	background-color: alpha(#000000, 0.05);
  	color: inherit;
}

.trackrowmenu {
	background-color: alpha(#000000, 0.03);
  	color: inherit;
}

.trackrowmenu .menubutton{
	border-color: alpha(#000000, 0.1);
  	color: inherit;
}

.menubutton {
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	background-color: transparent;
	color: transparent;
	background-image: none;
}

.trackrow:hover .menubutton {
	border-color: alpha(#000000, 0.1);
  	color: inherit;
}

